@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ffffff;
  --color-brand-red: #722F37;
  --color-brand-red-hover: #903b45;
  --color-text-gray: #d4d4d4;
  --color-border-dark: #262626;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-red: var(--color-brand-red);
  --color-brand-red-hover: var(--color-brand-red-hover);
  --color-text-gray: var(--color-text-gray);
  --color-border-dark: var(--color-border-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}